body {
    font-size: 1rem;
    font-family: "Poppins", sans-serif;
  }
  
  p {
    color: #666666;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  .fs-07 {
    font-size: 0.7rem;
  }
  
  .fs-08 {
    font-size: 0.8rem;
  }
  
  .fs-09 {
    font-size: 0.9rem;
  }
  
  .fw-500 {
    font-weight: 500;
  }
  
  .fw-600 {
    font-weight: 600;
  }
  
  .letter-n1 {
    letter-spacing: -1px;
  }
  
  .letter-n2 {
    letter-spacing: -2px;
  }
  
  .zindex-n1 {
    z-index: -1;
  }
  
  .zindex-3 {
    z-index: 3;
  }
  
  .zindex-5 {
    z-index: 5;
  }
  
  .zindex-9 {
    z-index: 9;
  }
  
  .pointer {
    cursor: pointer;
  }
  
  .text-green {
    color: #35a654;
  }
  .text-light-green {
    color: #acda5a;
  }
  .text-blue {
    color: #473bf0;
  }
  
  .bg-blue {
    background: #473bf0 !important;
  }
  .text-red {
    color: #e64035;
  }
  .text-orange {
    color: #e1bb23;
  }
  
  .bg-green {
    background-color: #35a654;
  }
  
  .bg-grey {
    background-color: #e0e0e0;
  }

  .bg-purp {
    background-color: #662c91;
  }
  
  .text-greey {
    color: #c4c4c4;
  }
  
  .bg-light-green {
    background-color: #acda5a;
  }
  .bg-blue {
    background-color: #429bd5;
  }
  .bg-red {
    background-color: #e64035;
  }
  .bg-orange {
    background-color: #e1bb23;
  }
  
  .text-shadow {
    text-shadow: 2px 2px 5px #000;
  }
  
  .bi-check-lg {
    color: #473bf0;
  }